
{% extends 'frame.html' %}


{% block title %}
	{{ list.name }}
	-
	{{ block.super }}
{% endblock title %}

{% block menu_autofocus %}{% endblock menu_autofocus %}

{% block content %}

	<h1>{{ list.name }}</h1>

	{% if list.language %}
	    <p>This list is for learning <strong>{{ list.language_disp }}</strong>.</p>
	{% else %}
		<p>This is a mixed-language list, phrases of multiple languages may appear.</p>
	{% endif %}

	{% if translations %}
	<table class="table table-striped table-hover table-condensed">
	    <thead>
	        {% if not list.language %}
		        <td>Language</td>
	        {% endif %}
            <td style="min-width: 50%;">Text</td>
            <td>Translations</td>
	    </thead>
	    <tbody>
    		{% for translation in translations %}
    			<tr {% if list.language %}{% if not list.language == translation.language %}class="danger"{% endif %}{% endif %}>
				    {% if not list.language %}
			            <td>
			                {{ translation.language_disp }}
			            </td>
			        {% endif %}
				    <td>
					    {{ translation.text }}
					    {% if list.language %}
					        {% if not list.language == translation.language %}
						        [{{ translation.language_disp }}]
					        {% endif %}
					    {% endif %}
				    </td>
				    <td><a href="{% url 'show_phrase' pk=translation.phrase.pk %}">{{ translation.other_languages }} other{{ translation.other_languages|pluralize }}</a></td>
			    </tr>
    	    {% endfor %}
	    </tbody>
	</table>
	{% else %}
		<p>There are no phrases in this list.</p>
	{% endif %}

	{% if access.editable %}
        <div>
            <p>You can add translations to the list.</p>
	        <form class="form form-inline" role="search" method="POST" action="{% url 'add_phrase_search' %}">
	       		<div class="form-group">
	       			<input style="width: 700px; max-width: 100%;" name="q" type="text" class="form-control" placeholder="{% blocktrans context 'Search placeholder' %}search{% endblocktrans %}..." autofocus>
	       		</div>
		        <input type="hidden" name="pk" value="{{ list.pk }}" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	            {% csrf_token %}
	       		<button type="submit" class="btn btn-default" title="Add the phrase to this list."><i class="glyphicon glyphicon-plus"></i></button>
	       	</form>
        </div>
	{% endif %}
    <br />

	<a href="{% url 'edit_list' pk=list.pk slug=list.slug %}" class="btn btn-primary">Edit this list</a>

	{% if access.editable %}
        <form style="display: inline;" role="form" action="{% url 'delete_list' %}" method="POST">
            <input type="hidden" name="pk" value="{{ list.pk }}" />
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete this list</button>
        </form>
	{% endif %}

{% endblock content %}


