
{% extends 'frame.html' %}

{% load i18n %}


{% block title %}
	Public lists
	-
	{{ block.super }}
{% endblock title %}

{% block content %}

	<h1>All public lists</h1>

	{% if request.user.is_authenticated %}
	    <p>You can see <a href="{% url 'user_lists' %}">your own lists</a> or <a href="{% url 'add_list' %}">create one</a>.</p>
	{% else %}
		<p>If you log in you can create your own lists!</p>
	{% endif %}

	{% if items.paginator.count %}
	<table class="table table-striped table-hover">
	    <thead>
	        <td>Language</td>
            <td style="min-width: 50%;">Name</td>
            <td>Phrases</td>
            <td>Follow?</td>
	    </thead>
	    <tbody>
    		{% for item in items %}
    			<tr>
			        <td>{% if item.language %}{{ item.language_disp }}{% else %}<span title="Or maybe it just wasn't set yet">mixed</span>{% endif %}</td>
				    <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
				    <td>{{ item.translations.count }}</td>
				    <td>
					    {% if not item.following %}
                            <form class="form form-inline" method="POST" action="{% url 'follow_list' %}">
                                <input type="hidden" name="pk" value="{{ item.pk }}" />
                                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                                {% csrf_token %}
                                <button type="submit" class="btn btn-xs btn-default" title="Click to add this list to your followed lists collection."><i class="glyphicon glyphicon-ok"></i></button>
                            </form>
					    {% else %}
						    <form class="form form-inline" method="POST" action="{% url 'unfollow_list' %}">
                                <input type="hidden" name="pk" value="{{ item.pk }}" />
                                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                                {% csrf_token %}
                                <button type="submit" class="btn btn-xs btn-danger" title="Click to remove this list from your followed lists collection."><i class="glyphicon glyphicon-remove"></i></button>
						    </form>
					    {% endif %}
				    </td>
			    </tr>
    	    {% endfor %}
	    </tbody>
	    {% include 'pagination_controls.html' %}
	</table>
	{% else %}
		<p>There are no public lists you aren't yet following.</p>
	{% endif %}

{% endblock content %}


