
{% extends 'frame.html' %}

{% comment %}
    This html template creates the basic structure of the homepage. The home view (basics/views/home.py) will add the
    dynamic data, which will be filled in for the {{ VARIABLE }} tags here.
{% endcomment %}

{% block title %}
    About WordsProgram
	-
	{{ block.super }}
{% endblock title %}

{% block content %}
	<header class="jumbotron hero-spacer">
	    <h1>WordsProgram!</h1>
	    <p>This program does ... by ...</p>
	    <p>So yeah, it's pretty awesome.</p>
	</header>
{% endblock content %}


