{% comment %}
	This file contains the basic elements for all pages. Specific pages just need to replace their parts, no need to do
	the banner and background and menu etc for every page.
{% endcomment %}

<!-- Style from http://startbootstrap.com/template-overviews/heroic-features/ -->

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}WordsProgram{% endblock title %}</title>

	<!-- styles -->
	<link rel='stylesheet' href='{% static 'css/bootstrap.min.css' %}' />
	<link rel='stylesheet' href="{% static 'css/heroic-features.css' %}">
	<link rel='stylesheet' href='{% static 'style.css' %}' />

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			{% block menu_home %}
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% block brand_name %}{% blocktrans context 'menu option: home' %}home{% endblocktrans %}{% endblock brand_name %}</a>
				</div>
			{% endblock menu_home %}

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% block menu_info %}
						{% if not correct_count %}
						    <li><a href='{% url 'about' %}'><i class="glyphicon glyphicon-heart"></i> {% blocktrans context 'menu option: about' %}about{% endblocktrans %}</a></li>
						{% endif %}
						<li><a href='{% url 'choose_languages' %}?next={{ request.path }}'><i class="glyphicon glyphicon-flag"></i> {% blocktrans context 'menu option: languages' %}languages{% endblocktrans %}</a></li>
						<li><a href='{% url 'all_lists' %}'><i class="glyphicon glyphicon-th-list"></i> {% blocktrans context 'menu option: lists' %}lists{% endblocktrans %}</a></li>
						{% if request.user.is_authenticated %}
						    {% block add_phrase_button %}<li><a href='{% url 'add_phrase' %}'><i class="glyphicon glyphicon-plus"></i> {% blocktrans context 'menu option: addphrase' %}add{% endblocktrans %}</a></li>{% endblock add_phrase_button %}
							<li><a href='{% url 'study_ask' %}'><i class="glyphicon glyphicon-check"></i> {% blocktrans context 'menu option: study' %}study{% endblocktrans %}</a></li>
							{% if correct_count %}
                                <li><a href='{% url 'stats' %}'>
                                    <i class="glyphicon glyphicon-tasks"></i> {% blocktrans context 'menu option: study' %}stats{% endblocktrans %}
                                    {% if request.user.show_correct_count %}<span class="badge">{{ correct_count }}</span>{% endif %}
                                </a></li>
                            {% endif %}
						{% else %}
							<li><a href='{% url 'study_demo' %}'><i class="glyphicon glyphicon-check"></i> {% blocktrans context 'menu option: study' %}study{% endblocktrans %}</a></li>
						{% endif %}
					{% endblock menu_info %}
					{% block menu %}
						<!-- add menu items here -->
					{% endblock menu %}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% block menu_auth %}
						{% if request.user.is_authenticated %}
							{% comment %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href='{% url 'profile' %}'><i class="glyphicon glyphicon-user"></i> account</a></li>
									<li><a href='{% url 'password' %}'><i class="glyphicon glyphicon-lock"></i> password</a></li>
									<li><a href='{% url 'settings' %}'><i class="glyphicon glyphicon-cog"></i> settings</a></li>
									<li><a href='{% url 'logout' %}?next={{ request.path }}'><i class="glyphicon glyphicon-off"></i> logout</a></li>
								</ul>
							</li>
							{% endcomment %}
							{# <li><a href='{% url 'settings' %}?next={{ request.path }}'><i class="glyphicon glyphicon-cog"></i> {% blocktrans context 'menu option: settings' %}settings{% endblocktrans %}</a></li> #}
							<li><a href='{% url 'profile' %}?next={{ request.path }}'><i class="glyphicon glyphicon-user"></i> {% blocktrans context 'menu option: account' %}account{% endblocktrans %}</a></li>
						{% else %}
							<li><a href="{% url 'register' %}?next={{ request.path }}"><i class="glyphicon glyphicon-pencil"></i> {% blocktrans context 'menu option: register' %}register{% endblocktrans %}</a></li>
							<li><a href="{% url 'login' %}?next={{ request.path }}"><i class="glyphicon glyphicon-user"></i> {% blocktrans context 'menu option: login' %}login{% endblocktrans %}</a></li>
						{% endif %}
					{% endblock menu_auth %}
				</ul>

				{% block search_box %}
					<form class="navbar-form navbar-right" role="search" method="GET" action="{% url 'search' %}">
						<div class="form-group">
							<input name="q" type="text" class="form-control" placeholder="{% blocktrans context 'Search placeholder' %}search{% endblocktrans %}..." {% block menu_autofocus %}autofocus{% endblock menu_autofocus %}>
						</div>
						<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
					</form>
				{% endblock search_box %}
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Page Content -->
	<div class="container">

		{% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
	                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
	                <strong>{{ message.tags.upper }}</strong>:
	                {{ message }}
                </div>
            {% endfor %}
		{% endif %}

	    <div id="content_area">
            {% block content %}
                <header class="jumbotron hero-spacer">
                    <h1>No content yet!</h1>
                </header>
            {% endblock content %}
	    </div>

		<hr>

		{% block features %}{% endblock %}

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>
						&copy; 2014 Werner's Wacky Words
						{% if request.user.is_staff %}
							| <a href="/admin/">control panel</a>
						{% endif %}
					</p>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.container -->

	<!-- scripts -->
    <script src='{% static 'js/jquery.min.js' %}'></script>
    <script src='{% static 'js/bootstrap.min.js' %}'></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
	<script src='{% static 'script.js' %}'></script>

    <script>
    /* Extra javascript code on some pages. */
	    {% block extrajs %}
	    {% endblock extrajs %}
    </script>

</body>

</html>
