
{% extends 'frame.html' %}

{% comment %}
    This html template creates the basic structure of the homepage. The home view (basics/views/home.py) will add the
    dynamic data, which will be filled in for the {{ VARIABLE }} tags here.
{% endcomment %}

{% block title %}
    About WordsProgram
	-
	{{ block.super }}
{% endblock title %}

{% block content %}
	<header class="jumbotron hero-spacer">
    	<h1>{% blocktrans context 'Home page' %}Welcome to the WordsProgram!{% endblocktrans %}</h1>
        <p>{% blocktrans context 'Home page' %}This program will help you learn the impossible language of Chinese! Or others!{% endblocktrans %}</p>
		{% url 'study' as try_url %} {# actually could be done directly if not inside the trans block #}
        <p><a class="btn btn-primary btn-lg" href="{{ try_url }}" role="button">{% blocktrans context 'Home page' %}Give it a try!{% endblocktrans %}</a></p>
	</header>
{% endblock content %}

{% block features %}{% include 'features.html' %}{% endblock %}


