
{% extends 'frame.html' %}

{% load crispy_forms_tags %}


{% block title %}
    Choose your languages
	-
	{{ block.super }}
{% endblock title %}

{% block content %}

	<h1>Choose your languages</h1>

	<p>Here you can choose the language you want to study, in which the phrases will be displayed.</p>

	{% crispy form %}
	{% comment %}<form role="form" action="{% url 'choose_languages' %}" method="POST">
	    {% crispy form %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% csrf_token %}
		<button type="submit" class="btn btn-success">Save</button>
	</form>{% endcomment %}

	<p>(This requires session cookies to be enabled.)</p>

{% endblock content %}


