
{% extends 'frame.html' %}

{% comment %}
    This html template creates the basic structure of the homepage. The home view (basics/views/home.py) will add the
    dynamic data, which will be filled in for the {{ VARIABLE }} tags here.
{% endcomment %}

{% block title %}
	{{ shown.text|capfirst }} in {{ hidden_language }}?
	-
	{{ block.super }}
{% endblock title %}

{% block menu_autofocus %}{% endblock menu_autofocus %}

{% block content %}

	{% if list %}
		<div class="alert alert-warning" role="alert">
		    <strong>{% blocktrans %}Careful{% endblocktrans %}</strong>
		    {% blocktrans context 'study anonymous warning base' %}Your results are not being stored.{% endblocktrans %}
		    {% if request.user.is_authenticated %}
			    <a class="alert-link" href="{% url 'study_ask' %}">{% blocktrans context 'study anonymous warning mode' %}Use normal study mode to store results.{% endblocktrans %}</a>
		    {% else %}
			    <a class="alert-link" href="{% url 'login' %}?next={% url 'study_ask' %}">{% blocktrans context 'study anonymous warning login' %}Log in to store results.{% endblocktrans %}</a>
		    {% endif %}
		</div>
	{% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% blocktrans context 'study question header' with shown_language=shown.language_disp %}This {{ shown_language }} phrase...{% endblocktrans %}
        </div>
            <div class="panel-body">
                <h1>{{ shown.text }}</h1>
            </div>
        <div class="panel-footer">
            {% blocktrans context 'study question footer' %}How to say it in {{ hidden_language }}?{% endblocktrans %}
        </div>
    </div>

	<form role="form" action="{% if list %}{% url 'study_list_respond' pk=list.pk slug=list.slug %}{% else %}{% url 'study_respond' %}{% endif %}" method="POST">
	        {{ form|as_bootstrap }}
		<input type="hidden" name="next" value="{{ next }}" />
		{% csrf_token %}
	    <!-- "I don't know" doesn't do anything special but might be more clear -->
		<button type="submit" class="btn btn-default" title="This is the same as just submitting - an empty submission will be understood as 'I don't know'." tabindex="-1">{% blocktrans context 'study question button idk' %}I don't know{% endblocktrans %}</button>
		<button type="submit" class="btn btn-primary">{% blocktrans context 'study question button submit' %}Submit solution{% endblocktrans %}</button>
	</form>

{% endblock content %}


