
{% extends 'frame.html' %}

{% comment %}
    This html template creates the basic structure of the homepage. The home view (basics/views/home.py) will add the
    dynamic data, which will be filled in for the {{ VARIABLE }} tags here.
{% endcomment %}

{% block title %}
	{{ shown.text|capfirst }} in {{ hidden_language }}?
	-
	{{ block.super }}
{% endblock title %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% blocktrans context 'study question header' with shown_language=shown.language_disp %}This {{ shown_language }} phrase...{% endblocktrans %}
        </div>
            <div class="panel-body">
                <h1>{{ shown.text|capfirst }}</h1>
            </div>
        <div class="panel-footer">
            {% blocktrans context 'study question footer' %}How to say it in {{ hidden_language }}?{% endblocktrans %}
        </div>
    </div>

{% endblock content %}


