
{% extends 'frame.html' %}


{% block title %}
	Password
	-
	{{ block.super }}
{% endblock title %}

{% block content %}

	<h1>Password</h1>

	<p>Here you can change the password for your account <strong>{{ request.user.email }}</strong>.</p>

	<form role="form" action="{% url 'password' %}" method="POST">
		{{ form|as_bootstrap }}
		<input type="hidden" name="next" value="{{ next }}" />
		{% csrf_token %}
		<button type="submit" class="btn btn-danger">Save password</button>
		<a href="{% url 'profile' %}" type="button" class="btn btn-default">Back to profile</a>
	</form>

{% endblock content %}


