
{% extends 'frame.html' %}


{% block title %}
	Add phrase
	-
	{{ block.super }}
{% endblock title %}

{% block content %}

	<h1>Add phrase</h1>

	<p>Please provide the settings and the first translation for this phrase. You can add more translations immediately after. If you make the phrase public, fellow users can help you add more translations!</p>

	{% if not suggested_phrase %}
		<div class="alert alert-success" role="alert"><strong>Kindly note</strong>: You are about to create a new phrase. That's great! To prevent clutter and extra work, <a class="alert-link" href="{% url 'search' %}?q=">please check</a> first if it doesn't exist yet.</div>
	{% endif %}

	<form role="form" action="{% if add_list %}?list={{ add_list.pk }}{% else %}.{% endif %}" method="POST">
		{{ translation_form|as_bootstrap }}
		{{ phrase_form|as_bootstrap }}
		<input type="hidden" name="next" value="{{ next }}" />
		{% if add_list %}
			<div class="form-group" id="div_id_add_to_list">
				<div class="">
					<div class="checkbox">
						<label class="" for="id_add_to_list">
							<input type="checkbox" name="add_to_list" id="id_add_to_list" checked="checked">
							Add to list <strong>{{ add_list.name }}</strong>
						</label>
					</div>
				</div>
			</div>
		{% endif %}
		{% csrf_token %}
		<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Create</button>
	</form>

{% endblock content %}


