
{% extends 'frame.html' %}


{% block title %}
	Phrase
	-
	{{ block.super }}
{% endblock title %}

{% block content %}

	<h1>Phrase #{{ phrase.pk }} info</h1>

	{% if translations %}
	<table class="table table-striped table-hover table-condensed">
	    <thead>
	        <td>Language</td>
            <td style="min-width: 70%;">Text</td>
	    </thead>
	    <tbody>
    		{% for translation in translations %}
    			<tr>
				    <td>{{ translation.language_disp }}</td>
				    <td>{{ translation.text }}</td>
			    </tr>
    	    {% endfor %}
	    </tbody>
	</table>
	{% else %}
		<p>There are no translations for this phrase.</p>
	{% endif %}

	{# #todo info about lists #}

{% endblock content %}


